* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

label {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  width: 95%;
  max-width: 600px;
  padding: 20px;
  border: solid 1px #ddd;
  border-radius: 6px;
}

.loginForm .title {
  margin-bottom: 16px;
  font-size: 1.8em;
  font-weight: bold;
}

.loginForm .formRow {
  margin-bottom: 16px;
}

.loginForm .formLabel {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 0.9em;
  color: #888;
}

.loginForm .formText {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
}

.loginForm .primaryBtn {
  width: 100%;
  padding: 10px 8px;
  font-size: 1.1em;
  color: #fff;
  background-color: #5fd19e;
  border: none;
  border-radius: 6px;
  opacity: 0.8;
  transition: opacity 0.9s;
}

.loginForm .primaryBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.loginForm .forgetText {
  font-size: 0.8em;
  color: #aaa;
}

.loginForm .forgetText:hover {
  text-decoration: none;
}
